.m-btn{
    font: {
        weight: 300;
        size: 1rem;
    }
    text: {
        align: center;
        decoration: none;
    }
    display: inline-block;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
}

.btn-curve{
    padding: .7rem 1.5rem;
    border-radius: 2rem;
    color: #fff;
    transition: all .25s ease;
    background: linear-gradient(45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 0%, rgba(248,181,0,1) 1%, rgba(251,93,18,1) 90%, rgba(251,93,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCEABB', endColorstr='#FB5D12', GradientType=1 );
    font-weight: 400;
    box-shadow: 0px 9px 14px -10px rgba(0,0,0,0.75);
    &:hover{
        transform: translateY(-3px);
    }
}