.m-card{
    position: relative;
    background: #fff;
    box-shadow: 3px 10px 10px -12px var(--dark-grey);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    &__link{
        text-decoration: none;
    }
    &__img{
        width: 100%;
    }
    &__body{
        padding: 20px 18px;
    }
    &__title{
        font-weight: bold;
    }
    &__date{
        position: absolute;
        top: -7px;
        left: -5px;
        background-color: var(--color);
        color: #fff;
        padding: 2px 10px;
        font-size: .95rem;
    }
    &__data{
        font-size: .88rem;
        color: var(--dark-grey);
    }
}