.about-me{
    background-color: #fff;
    &__img{
        width: 100%;
        &-ref{
            font-size: .8rem;
        }
        &-link{
            color: var(--color);
        }
    }
    &__info-wrapper{
        position: relative;
        margin-top: 50px;
        &::after{
            content: 'Sobre mi';
            position: absolute;
            top: -50px;
            left: 0;
            background-color: var(--color);
            padding: 7px 25px;
            color: #fff;
            text-transform: uppercase;
            font: {
                weight: bold;
                size: 1rem;
            }
        }
    }
    &__title{
        text-transform: uppercase;
        font-size: 3rem;
    }
    &__info{
        color: #6E6E6E;
    }
}