
$first-font     : 'Niramit', sans-serif;
$second-font    : 'Exo 2', sans-serif;
$light-blue     : #007bff;

body{
    font-family: $first-font;
}
a{
    color: $light-blue;
}
figure{
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    font-family: $second-font;
}
hr{
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}